.addColor{
    color :#691C32 !important;
}
.btn-corporate{
    background-color:#691C32 !important;
    border-radius: 30px !important;
    color:white !important;
  }
  
  /* css for accordian */
  *{
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
  }
  
  
  
  h1{
    text-align: center;
    color: #FFF;
  }
  
  /* ---- Create Accordion --- */
  
  .accordion{ 
    max-width: 1080px;
    height: 400px;
    display: flex;
    overflow: hidden;
    margin: 50px auto;
    justify-content: center;
    border-radius:20px !important;
  }
  
  .tab{
    position: relative;
    width: 20%;
    height: inherit;
    padding: 20px;
    background: #000;    
    color: #FFF;
    cursor: pointer;
    transition: width .5s ease;
  }
  
  .tab img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease;
  }
  
  .caption{
    position: absolute;
    z-index: 2;
    white-space: nowrap;
    top: 150px;
    opacity: 0;
  }
  
  .caption h2{
    margin-bottom: 2px;
    text-overflow:clip;
    font-size:24px;
    text-transform:capitalize;
  }
  
  .caption p{
    margin: 0;
    font-family: 'Open Sans';
    font-size: .9rem;
  }
  
  /* --- Hover Effects --- */
  
  .tab:hover img{
    opacity: .6;
  }
  
  .tab:hover{
    width: 80%;
  }
  
  .tab:hover .caption{
    transition: all .5s ease;
    opacity: 1;
  }