@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";
.header1{
    background-color: #691C32 !important;

}
.Header-icons>a{
    justify-content: center;
    color:white !important;
      }
      .roundedd{
        border-radius: 30px !important;
      }
      .site-footer{
        background-color: #CCC3BC;
      }
      .Footer-links{
        color :#691C32;
        text-decoration: none;
        font-size: 13px;
      }
      .footer-heading{
        color :#691C32 !important;
        font-size: 16px !important;
        font-weight: bold !important;
        text-decoration: underline;
        
      }
      .owl-carousel{
        width:100%;
        height: 70vh;
      }
      .item{
        width:100%;
        height:70vh;
        background-size:cover;
      }
      .section1-image{
        width:70%;
      }